.spacer {
    margin-left: 10px;
}
.green-btn {
    background-color: #008000;
    color: black;
}
.red-btn {
    color: red;
}
.navbar-color {
    background-color: aliceblue;
    color: black;
}
.center-text {
    flex: 1;
    text-align: center;
    justify-content: center;
    margin-right: 30px;
    font-size: 24px;
    font-family: fantasy;
    margin-top: 3rem;
}
.logo-image {
    width: 40px;
    height: auto;
}
.xmas-lights {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .center-text {
        flex: 1;
        text-align: center;
        justify-content: center;
        margin-right: 0px;
        font-size: 16px;
        font-family: fantasy;
        margin-top: 3rem;
    }
    .logo-image {
        width: 40px;
        height: auto;
    }
    .xmas-lights {
        display: block;
        width: 200px;
        height: auto;
        margin: 0 auto;
    }
  }
  
  
  
  
  