.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.card {
  max-width: 400px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.example-card {
  height: 100%;
}

.mat-card-actions {
  margin-top: auto;
  align-self: end; 
}

@media (max-width: 767px) {
  .card-grid {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 1rem auto;
    margin-top: 5rem;
  }
}
