<h1>David's Christmas List</h1>
<div class="card-grid">
  <mat-card *ngFor="let card of cardsData" class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
        <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="card.imageSrc">
      <mat-card-content>
        <p>{{ card.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [href]="card.link" target="_blank">{{ "More Details" }}</a>
      </mat-card-actions>
    </mat-card>
  </mat-card>
</div>
