<div class="christmas-container">
    <h1>Welcome to David Schloemer's Christmas Website!</h1>
    <h2>Get ready for some festive fun and holiday cheer!</h2>
    <img src="/assets/santa.png" alt="Santa Claus" class="santa-image">
    <h3>To get started on this site, click on the hamburger menu on the top left. You can view David's Christmas List, Festive Activities, and more!</h3>
    <h4>This website was fully coded and written by David Schloemer. David has all rights to this app. This web applicaiton is made possible by the Angular Web Development Framework.</h4>
  </div>
  